{% extends "autoIntern/base.html" %}
{% block content %}
<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">
      <h1 class="display-4">Oops...Seems Like we've hit a snag </h1>
</div>
<div class="container">
  <div class="body-content">
    <div class="row">
      <div class="col-md-6">
        <h2>What happened?</h2>
        <p class="lead">Not sure</p>
      </div>
      <div class="col-md-6">
        <h2>What can I do?</h2>
        <p class="lead">If you're a site visitor</p>
        <p>Please go back to the home page</p>
        <p class="lead">If you're the site owner</p>
        <p>It's your fault this happened. Be Better.</p>
     </div>
    </div>
  </div>
</div>
{% endblock %}